@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
}
body {
      @apply bg-gray-900 text-gray-200 font-sans;
}
.margin {
  margin-top: calc(var(--spacing) * 10);
}
.margin-bottom {
  margin-bottom: calc(var(--spacing) * 4) 
}
.pad-x{
  padding-inline: calc(var(--spacing) * 4)
}
.pad-y-2{
  padding-block: calc(var(--spacing) * 2)
}